#modalview-login-button {
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
}

.footer {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

.wrapper {
    margin-left: auto;
    width: 400px;
    margin-right: auto;
}