#modalview-login-button {
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
}

/*Laat de inputvelden zonder placeholder links uitlijnen*/
#login input,
#yourInfo input,
#yourInfo select{
    position: static;
    width: 100%;
}

/*Make input values without labels larger*/
form li {
    min-height: 40px;
}

/*Central wrapper for homescreen*/
.wrapper a {
    width: 200px;
    height: 20px;
}

/*align homescreen in center*/
.align-center {
    text-align: center;
}

#newExpense h1{
    text-align: center;
}

.footer {
    min-height: 30px;
}

.red-border {
    border: 2px solid red;
}

/* Responsive design: tablet view
@media all and (min-width: 600px) {
    .wrapper {
        margin-left: auto;
        width: 400px;
        margin-right: auto;
    }
}

/* Responsive design: smartphone view/
@media all and (max-width: 599px) {
    .wrapper {
        width: 100%;
    }
}*/

