#Thu, 11 Apr 2013 02:16:29 +0200
app.name=ExpenseApp
app.framework=touch
app.classpath=${app.dir}/app.js,${app.dir}/app

app.cmd.version=3.1.0.256

app.build.dir=${workspace.build.dir}/${app.name}
app.id=6e6d3cb0-adda-47cb-a18e-d57016084a3a
