.center {
    text-align: center;
}

.red-border {
    border: 2px solid red;
}

/* Hide canvas needed to convert image to base64 */
#create3-add-canvas {
    display: none;
}

/* auto complete */
#create3-add-results {
    list-style-type: none;
}

#create3-add-results li {
    border: 1px solid #DDD;
    margin: 0;
    padding: 10px;
}

#create3-add-results li:hover {
    background-color: #EEE;
}

/* Responsive design: tablet view */
@media all and (min-width: 600px) {
    .secondary {
        width: 30%;
        float: left;
        border-right: thin solid #000000;
    }

    .primary {
        width: 70%;
        float: left;
    }
}

/* Responsive design: smartphone view */
@media all and (max-width: 599px) {
    .secondary {
        display: none;
    }

    .primary {
        width: 100%;
    }
}

/* Responsive design: home screen */
@media all and (min-width: 600px) {
    .wrapper {
        margin-left: auto;
        width: 400px;
        margin-right: auto;
    }
}