.center{
    text-align: center;
}

@media all and (min-width: 600px) {
    .wrapper {
        margin-left: auto;
        width: 400px;
        margin-right: auto;
    }
}

/* Hide canvas needed to convert image to base64 */
#create3-add-canvas {
    display: none;
}