#Fri, 03 May 2013 20:38:36 +0200
app.name=ExpenseApp
app.framework=touch
app.classpath=${app.dir}/app.js,${app.dir}/app

app.cmd.version=3.1.1.274

app.build.dir=${workspace.build.dir}/${app.name}
app.id=5d9df518-b77b-408b-86e9-f453ba63cb5f
