#login-button {
    background-color: green;
}

#login input {
    position: static;
    width: 100%;
}

.red-border {
    border: 2px solid red;
}

.align-right {
    text-align: right;
}

#dialog {
    width: 90%;
    height: 18em;
}

#home-list img {
    float: left;
    width: 4em;
    height: 4em;
    margin: 0;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#home-list h2 {
    display: inline-block;
    font-size: 1.1em;
    margin: 1em 0 1.5em 1em;
}